<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="icon" type="image/x-icon" href="
    data:image/png;base64,iV
    BORw0KGgoAAAANSUhEUgAAAG
    wAAABsCAMAAAC4uKf/AAADI2
    lUWHRYTUw6Y29tLmFkb2JlLn
    htcAAAAAAAPD94cGFja2V0IG
    JlZ2luPSLvu78iIGlkPSJXNU
    0wTXBDZWhpSHpyZVN6TlRjem
    tjOWQiPz4gPHg6eG1wbWV0YS
    B4bWxuczp4PSJhZG9iZTpucz
    ptZXRhLyIgeDp4bXB0az0iQW
    RvYmUgWE1QIENvcmUgNi4wLW
    MwMDIgNzkuMTY0NDYwLCAyMD
    IwLzA1LzEyLTE2OjA0OjE3IC
    AgICAgICAiPiA8cmRmOlJERi
    B4bWxuczpyZGY9Imh0dHA6Ly
    93d3cudzMub3JnLzE5OTkvMD
    IvMjItcmRmLXN5bnRheC1ucy
    MiPiA8cmRmOkRlc2NyaXB0aW
    9uIHJkZjphYm91dD0iIiB4bW
    xuczp4bXA9Imh0dHA6Ly9ucy
    5hZG9iZS5jb20veGFwLzEuMC
    8iIHhtbG5zOnhtcE1NPSJodH
    RwOi8vbnMuYWRvYmUuY29tL3
    hhcC8xLjAvbW0vIiB4bWxucz
    pzdFJlZj0iaHR0cDovL25zLm
    Fkb2JlLmNvbS94YXAvMS4wL3
    NUeXBlL1Jlc291cmNlUmVmIy
    IgeG1wOkNyZWF0b3JUb29sPS
    JBZG9iZSBQaG90b3Nob3AgMj
    EuMiAoV2luZG93cykiIHhtcE
    1NOkluc3RhbmNlSUQ9InhtcC
    5paWQ6MzIzOTkxQjdFNkUyMT
    FFQTk1MzZGQzAyRjIxNEI3MD
    IiIHhtcE1NOkRvY3VtZW50SU
    Q9InhtcC5kaWQ6MzIzOTkxQj
    hFNkUyMTFFQTk1MzZGQzAyRj
    IxNEI3MDIiPiA8eG1wTU06RG
    VyaXZlZEZyb20gc3RSZWY6aW
    5zdGFuY2VJRD0ieG1wLmlpZD
    ozMjM5OTFCNUU2RTIxMUVBOT
    UzNkZDMDJGMjE0QjcwMiIgc3
    RSZWY6ZG9jdW1lbnRJRD0ieG
    1wLmRpZDozMjM5OTFCNkU2RT
    IxMUVBOTUzNkZDMDJGMjE0Qj
    cwMiIvPiA8L3JkZjpEZXNjcm
    lwdGlvbj4gPC9yZGY6UkRGPi
    A8L3g6eG1wbWV0YT4gPD94cG
    Fja2V0IGVuZD0iciI/PihrX2
    oAAAAZdEVYdFNvZnR3YXJlAE
    Fkb2JlIEltYWdlUmVhZHlxyW
    U8AAAAP1BMVEVHcEwArdsArd
    sArdsArdsArdsArdsArdsArd
    sArdsArdsArdsArdsArdsArd
    sArdsArdsArdsArdtHcEwArd
    tqSlHnAAAAFHRSTlMA3oIKcQ
    KZ+FDHJRNA7K+9MGEdAHlaHl
    IAAASBSURBVGje3Vrp0qwqDH
    QhLCK41Lz/s57BHRWSzIxf3b
    r8mppSGzpN0kGL4s8H9K9HRx
    +htf8jsDYC08+C6QhseBRLDR
    FYpR5FE3AEk8/SKKOV+WfBfL
    Sy8lmw8ohVPxuyl4LD0h5OIP
    GuZirfa61LFhnD52IMCUGwaD
    zK0fDDbVm3GL4+lsuq6aYu+g
    +7s+am4cpWLtzY7+m0HKwnM7
    8kKxrWW761MGKeJMBYGR3+Iq
    GJDawjRQrOFfcNCNTodevdoJ
    hMxJiCtq15IevWx9uhkpVeQ1
    471lQrThoAK2ciXDVNFogJoe
    KEbC0U/Z6zjQX6Hu2YWTgU9/
    FImqnp2WfZaVSz44L2Jp0rL/
    1WgRtqjgs0AC1kyr+vhmamLz
    jNQKcL0x06RQ8aJWTdUG9acj
    VsZWm2TaMoiTuNFLL+YB8WFU
    6TFPQaNQWNFLIR9vIwwF6XJM
    N3ttQEEK1s/62W36TNJqjGSv
    b7/l/cyxjo1zOlLSXunm6sjB
    jDUyfkKf0GRpUNSqlojyg5Fb
    fcanophqmyTSGjP8By+peQS/
    ujdktLjflyP8O4yJBC9I7mep
    6/FeSUv6oB+jXz+pFVM4KM6S
    7fwOIHWumNr3q2m/YMFzfsvg
    Bg89MA5KUZOuUXD7KOkS5nRw
    /ZVI/kZttBy4a1MldwOmPQZh
    L8tMY2TNP3wFAYB+xVHj2gj/
    77PdgmS/ispUuAOX0ex83fxB
    VMXC5OCKFQlP7+1FbJ0TZdoj
    sv0u2USqlRNWfjaxPRKevzlY
    1KqTHVQZrL0nTKNZ2uBJPc1B
    3ed6wPkcnsTPP+Xdpjqua8tj
    siQ5WJR6PSjrrCEm+eyEtrAy
    aT9TX1xOm20b+QmKuPOueecU
    XSlbhsT/f6nEi6EiflF+BJnf
    CtIhlKXKxcLmtfiIwUyVHiIo
    Ge1HffEclRYnDV4VnuxSFyVy
    RLiaHSA9Y6phXJU+LioxGbmi
    SSpcSt84Ty9eIrkqfEzS8hLu
    JekUwlhhZyRmtefCI1T4nv9A
    G0s+8bRUooOEqcd/Q8KaSTuV
    Gk5Skx2pOGSySXxMNJKra0Gy
    KZJ3MtY2JXRbKU+KYGGG8GES
    KxVqiPbgevviASI1GeMtvoPi
    cSI9GN3NmliYSOLS9MI2kiP5
    kmRkaKSPy+GzD0/OmeSJTE4Z
    57/wmRGIm+uJ9jXfKJxEi81P
    P9nZ3iEomR6Pp0NtBcIjESdS
    4XVDwiMRKrfEqVHCIxEiVWLD
    hVG6vOWBmEuiMTiZDY1WjNLW
    pDJBIh0dSUz15sRyNSIOuifW
    STZ3IlMk/im0MgonmcyDyJnr
    iu9ClERKTAmwgqWNYuBSLzbR
    /z2yjQKmuWMiQqDcBF6zM1QG
    QWXvZcrHDkPKZnr9LL7iwbax
    Yl40T23Bl9MLTjQbn2c6x3Nm
    F9SeTtF1DTHiAvzgn4CmtKS8
    R35l3zkw8SB8Li3AA/wQJAI6
    e+jFaEVrTZImfCi9pfftuZ5v
    JXDMZb/DZtqKqG34NBMcoLnJ
    L2AailZYzhlBwf/S73APc01J
    TB5lfUTlgo/mDAUJoB4E+wTm
    9Y/6vjH2FSPLGiRwibAAAAAE
    lFTkSuQmCC">

</head>

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .formWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .header {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 10px 0;
    }

        .header img {
            width: 6%;
            object-fit: cover;
        }

    .form {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f5fdff;
        padding: 20px 50px;
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }

        .form .maincont {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 10px;
            background-color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            margin: 10px 0;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }

        .form .title::before,
        .casetypecode::before,
        .ticketnumber::before,
        .incidentid::before,
        .ownerid::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 4px;
            background-color: #00acda;
            border-radius: 10px;
        }

    .title label,
    .casetypecode label,
    .ticketnumber label,
    .incidentid label,
    .ownerid label {
        font-size: 13px;
        color: #adadad;
        padding: 5px 0;
        width: 100%;
    }

    .title input,
    .casetypecode input,
    .ticketnumber input,
    .incidentid input,
    .ownerid input {
        font-size: 16px;
        padding: 5px 0;
        width: 95%;
        border-radius: 5px;
        outline: none;
        color: #000;
        background-color: transparent;
        border: none;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: 12%;
        margin-top: 10px;
    }

        .actions a button {
            padding: 10px 20px;
            font-size: 13px;
            letter-spacing: 0.5px;
            margin-right: 10px;
            border-radius: 4px;
            border: none;
            outline: none;
            color: #fff;
            cursor: pointer;
        }

        .actions .reject {
            background-color: #d33131;
        }

        .actions .approve {
            background-color: #00acda;
        }

        .successMessage .Reset{
            background-color: green;
            color:white;
        }
        .errorMessage .Reset{
            background-color: yellow;
            color:white;
        }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #f5f5f5;
    }

        .footer p {
            font-size: 12px;
            padding: 10px;
        }

    .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: rgb(204, 229, 251);
        box-shadow: 10px 10px 10px rgba(148, 148, 148, 0.2);
        border-radius: 50%;
    }

        .div1 img {
            width: 60%;
            margin-top: 5px;
        }
</style>

<body>
    <div class="formWrapper">
        <div action="#" class="form">
            <div class="div1">
                <img src="data:image/png;base64,iV
                                BORw0KGgoAAAANSUhEUgAAAG
                                wAAABsCAMAAAC4uKf/AAADI2
                                lUWHRYTUw6Y29tLmFkb2JlLn
                                htcAAAAAAAPD94cGFja2V0IG
                                JlZ2luPSLvu78iIGlkPSJXNU
                                0wTXBDZWhpSHpyZVN6TlRjem
                                tjOWQiPz4gPHg6eG1wbWV0YS
                                B4bWxuczp4PSJhZG9iZTpucz
                                ptZXRhLyIgeDp4bXB0az0iQW
                                RvYmUgWE1QIENvcmUgNi4wLW
                                MwMDIgNzkuMTY0NDYwLCAyMD
                                IwLzA1LzEyLTE2OjA0OjE3IC
                                AgICAgICAiPiA8cmRmOlJERi
                                B4bWxuczpyZGY9Imh0dHA6Ly
                                93d3cudzMub3JnLzE5OTkvMD
                                IvMjItcmRmLXN5bnRheC1ucy
                                MiPiA8cmRmOkRlc2NyaXB0aW
                                9uIHJkZjphYm91dD0iIiB4bW
                                xuczp4bXA9Imh0dHA6Ly9ucy
                                5hZG9iZS5jb20veGFwLzEuMC
                                8iIHhtbG5zOnhtcE1NPSJodH
                                RwOi8vbnMuYWRvYmUuY29tL3
                                hhcC8xLjAvbW0vIiB4bWxucz
                                pzdFJlZj0iaHR0cDovL25zLm
                                Fkb2JlLmNvbS94YXAvMS4wL3
                                NUeXBlL1Jlc291cmNlUmVmIy
                                IgeG1wOkNyZWF0b3JUb29sPS
                                JBZG9iZSBQaG90b3Nob3AgMj
                                EuMiAoV2luZG93cykiIHhtcE
                                1NOkluc3RhbmNlSUQ9InhtcC
                                5paWQ6MzIzOTkxQjdFNkUyMT
                                FFQTk1MzZGQzAyRjIxNEI3MD
                                IiIHhtcE1NOkRvY3VtZW50SU
                                Q9InhtcC5kaWQ6MzIzOTkxQj
                                hFNkUyMTFFQTk1MzZGQzAyRj
                                IxNEI3MDIiPiA8eG1wTU06RG
                                VyaXZlZEZyb20gc3RSZWY6aW
                                5zdGFuY2VJRD0ieG1wLmlpZD
                                ozMjM5OTFCNUU2RTIxMUVBOT
                                UzNkZDMDJGMjE0QjcwMiIgc3
                                RSZWY6ZG9jdW1lbnRJRD0ieG
                                1wLmRpZDozMjM5OTFCNkU2RT
                                IxMUVBOTUzNkZDMDJGMjE0Qj
                                cwMiIvPiA8L3JkZjpEZXNjcm
                                lwdGlvbj4gPC9yZGY6UkRGPi
                                A8L3g6eG1wbWV0YT4gPD94cG
                                Fja2V0IGVuZD0iciI/PihrX2
                                oAAAAZdEVYdFNvZnR3YXJlAE
                                Fkb2JlIEltYWdlUmVhZHlxyW
                                U8AAAAP1BMVEVHcEwArdsArd
                                sArdsArdsArdsArdsArdsArd
                                sArdsArdsArdsArdsArdsArd
                                sArdsArdsArdsArdtHcEwArd
                                tqSlHnAAAAFHRSTlMA3oIKcQ
                                KZ+FDHJRNA7K+9MGEdAHlaHl
                                IAAASBSURBVGje3Vrp0qwqDH
                                QhLCK41Lz/s57BHRWSzIxf3b
                                r8mppSGzpN0kGL4s8H9K9HRx
                                +htf8jsDYC08+C6QhseBRLDR
                                FYpR5FE3AEk8/SKKOV+WfBfL
                                Sy8lmw8ohVPxuyl4LD0h5OIP
                                GuZirfa61LFhnD52IMCUGwaD
                                zK0fDDbVm3GL4+lsuq6aYu+g
                                +7s+am4cpWLtzY7+m0HKwnM7
                                8kKxrWW761MGKeJMBYGR3+Iq
                                GJDawjRQrOFfcNCNTodevdoJ
                                hMxJiCtq15IevWx9uhkpVeQ1
                                471lQrThoAK2ciXDVNFogJoe
                                KEbC0U/Z6zjQX6Hu2YWTgU9/
                                FImqnp2WfZaVSz44L2Jp0rL/
                                1WgRtqjgs0AC1kyr+vhmamLz
                                jNQKcL0x06RQ8aJWTdUG9acj
                                VsZWm2TaMoiTuNFLL+YB8WFU
                                6TFPQaNQWNFLIR9vIwwF6XJM
                                N3ttQEEK1s/62W36TNJqjGSv
                                b7/l/cyxjo1zOlLSXunm6sjB
                                jDUyfkKf0GRpUNSqlojyg5Fb
                                fcanophqmyTSGjP8By+peQS/
                                ujdktLjflyP8O4yJBC9I7mep
                                6/FeSUv6oB+jXz+pFVM4KM6S
                                7fwOIHWumNr3q2m/YMFzfsvg
                                Bg89MA5KUZOuUXD7KOkS5nRw
                                /ZVI/kZttBy4a1MldwOmPQZh
                                L8tMY2TNP3wFAYB+xVHj2gj/
                                77PdgmS/ispUuAOX0ex83fxB
                                VMXC5OCKFQlP7+1FbJ0TZdoj
                                sv0u2USqlRNWfjaxPRKevzlY
                                1KqTHVQZrL0nTKNZ2uBJPc1B
                                3ed6wPkcnsTPP+Xdpjqua8tj
                                siQ5WJR6PSjrrCEm+eyEtrAy
                                aT9TX1xOm20b+QmKuPOueecU
                                XSlbhsT/f6nEi6EiflF+BJnf
                                CtIhlKXKxcLmtfiIwUyVHiIo
                                Ge1HffEclRYnDV4VnuxSFyVy
                                RLiaHSA9Y6phXJU+LioxGbmi
                                SSpcSt84Ty9eIrkqfEzS8hLu
                                JekUwlhhZyRmtefCI1T4nv9A
                                G0s+8bRUooOEqcd/Q8KaSTuV
                                Gk5Skx2pOGSySXxMNJKra0Gy
                                KZJ3MtY2JXRbKU+KYGGG8GES
                                KxVqiPbgevviASI1GeMtvoPi
                                cSI9GN3NmliYSOLS9MI2kiP5
                                kmRkaKSPy+GzD0/OmeSJTE4Z
                                57/wmRGIm+uJ9jXfKJxEi81P
                                P9nZ3iEomR6Pp0NtBcIjESdS
                                4XVDwiMRKrfEqVHCIxEiVWLD
                                hVG6vOWBmEuiMTiZDY1WjNLW
                                pDJBIh0dSUz15sRyNSIOuifW
                                STZ3IlMk/im0MgonmcyDyJnr
                                iu9ClERKTAmwgqWNYuBSLzbR
                                /z2yjQKmuWMiQqDcBF6zM1QG
                                QWXvZcrHDkPKZnr9LL7iwbax
                                Yl40T23Bl9MLTjQbn2c6x3Nm
                                F9SeTtF1DTHiAvzgn4CmtKS8
                                R35l3zkw8SB8Li3AA/wQJAI6
                                e+jFaEVrTZImfCi9pfftuZ5v
                                JXDMZb/DZtqKqG34NBMcoLnJ
                                L2AailZYzhlBwf/S73APc01J
                                TB5lfUTlgo/mDAUJoB4E+wTm
                                9Y/6vjH2FSPLGiRwibAAAAAE
                                lFTkSuQmCC" alt="logo">
            </div>

            <div class="maincont title">
                <label for="">Title</label>
                <input type="text" disabled="true" value="@ViewBag.title">
            </div>

            <div class="maincont casetypecode">
                <label for="">Case Number</label>
                <input type="text" disabled="true" value="@ViewBag.caseNumber">
            </div>

            <div class="maincont ticketnumber">
                <label for="">Case Type</label>
                <input type="text" id="" disabled="true" value="@ViewBag.casetypecode">
                </input>
            </div>

            <div class="maincont ownerid">
                <label for="">Owner</label>
                <input type="text" id="" disabled="true" value="@ViewBag.owner">
                </input>
            </div>

            <div class="actions">
                <div>
                    @if (ViewBag.updated == true)
                    {
                        <div class="successMessage">
                            <p>Request Updated Successfully</p>
                           @* <div>
                                <a href="/Reset"><button class="Reset">Reset</button></a>
                            </div>*@
                        </div>
                    }
                    else if (ViewBag.updated == false)
                    {
                        <div class="errorMessage">
                            <p>Updation Failed. Server Error</p>
                            @*<div>
                                <a href="/Reset"><button class="Reset">Reset</button></a>
                            </div>*@
                        </div>
                    }
                </div>
                @if (ViewBag.isRecordId == true)
                {
                    <div>
                        <a href="/Reject"><button class="reject">Reject</button></a>
                        <a href="/Approve"><button class="approve">Approve</button></a>
                    </div>
                }
                else if (ViewBag.isRecordId == false)
                {
                    <div>
                        <a href="/Reject"><button class="reject" disabled="true">Reject</button></a>
                        <a href="/Approve"><button class="approve" disabled="true">Approve</button></a>
                    </div>
                }
            </div>

        </div>

    </div>

    <div class="footer">
        <p>© 2020 VestaTech BV | Privacy | Cookie</p>
    </div>

</body>

</html>